.container {
    width: 100%;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}

.header-container {
    max-width: 100%;
}

.header-container nav,
.header-container .hero-section div:first-child {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .header-container nav,
    .header-container .hero-section div:first-child {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {

    .header-container,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .header-container,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .header-container,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .header-container,
    .container {
        max-width: 1320px;
    }
}

.colored-text {
    color: var(--rs-primary-color);
}

.section-divider {
    width: 100%;
    height: 50px;
}

header nav {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo-area img {
    max-height: 36px;
    width: auto;
}

header nav .menu-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .menu-area ul {
    list-style: none;
    display: none;
}

header nav .menu-area ul li {
    font-family: var(--rs-secondary-font);
    padding-left: .5rem;
    padding-right: .5rem;
}

header nav .menu-area ul li a {
    text-decoration: none;
    color: #8987A1;
    transition: .5s ease-in-out all;
}

header nav .menu-area ul li a.active,
header nav .menu-area ul li a:hover {
    font-weight: 600;
    color: #000;
}

header nav .cart-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

header nav .cart-area h4 {
    font-weight: 400;
}

.hero-section {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 28px;
}

.hero-section h2 {
    font-size: 34px;
    font-weight: bold;
}

.hero-section p {
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 0, 0, 50%);
}

.hero-section-img {
    display: flex;
    justify-content: end;
}

.hero-section img {
    max-width: 100%;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: 50px;
}

.section-header h4 {
    font-size: 34px;
    font-weight: bold;
}

.section-header p {
    font-size: 16px;
    font-weight: normal;
    font-family: var(--rs-secondary-font);
    color: rgb(0, 0, 0, 50%);
    max-width: 80%;
    text-align: center;
}

.flower-card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
}

.flower-img-box {
    aspect-ratio: 3/3.6;
    overflow: hidden;
}

.flower-img-box:hover img {
    transform: scale(1.05)
}

.flower-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 1s ease-in-out all;
}

.flower-card-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    margin: 15px auto;
}

.flower-card-content h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--rs-secondary-font);
}

.flower-card-content h6 {
    font-size: 16px;
    font-family: var(--rs-secondary-font);
    font-weight: 600;
}

.flower-card button {
    padding: 12px 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--rs-secondary-font);
    background-color: var(--rs-primary-color);
    color: #FFF;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background .5s ease-in-out;
}

.flower-card button:hover {
    background-color: #bd4500;
}

.plants-lover-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
}

.plants-lover-section .plants-lover-img {
    position: relative;
}

.plants-lover-section .plants-lover-img img {
    max-width: 100%;
    width: 100%;
}

.plants-lover-section .plants-lover-img img.trusted-badge {
    display: none;
}

.plants-lover-section .plants-lover-content h2 {
    font-size: 26px;
    margin-bottom: 1rem;
}

.plants-lover-section .plants-lover-content ul {
    margin-left: 1rem;
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 0, 0, 50%);
}

.plants-lover-section .plants-lover-content ul li {
    margin-bottom: 1rem;
}

.deals-card-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.deals-card-item {
    aspect-ratio: 3.5/2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.deals-card-item::before {
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0, 60%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.deals-card-item div {
    z-index: 2;
    text-align: center;
}

.deals-card-item h4 {
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: var(--rs-primary-color);
    margin-bottom: 10px;
}

.deals-card-item a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
    color: #FFFFFF;
    font-family: var(--rs-secondary-font);
}

.deals-card-01 {
    background-image: url('./assets/deal-bloom.png');
}

.deals-card-02 {
    background-image: url('./assets/deal-ana.png');
}

.deals-card-03 {
    background-image: url('./assets/deal-zabo.png');
}


.colorful-bunch-section {
    background-image: url('./assets/news-letter-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 65px;
    background-repeat: no-repeat;
    background-size: cover;
}

.colorful-bunch-section h4 {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 18px;
}

.colorful-bunch-section .input-group {
    display: flex;
    gap: 0;
}

.colorful-bunch-section .input-group input {
    height: 50px;
    border: none;
    padding: 10px 15px;
}

.colorful-bunch-section .input-group input,
.colorful-bunch-section .input-group button {
    outline: none;
}

.colorful-bunch-section .input-group button {
    color: #FFFFFF;
    background-color: var(--rs-primary-color);
    border: none;
    padding: 10px 15px;
    font-weight: 600;
}

@media (min-width: 992px) {
    .section-divider {
        width: 100%;
        height: 100px;
    }

    header nav {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .logo-area img {
        max-height: 82px;
        width: auto;
    }

    header nav .menu-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav .menu-area ul {
        list-style: none;
        display: inline-flex;
        gap: 48px;
        margin-inline-end: 1rem;
    }

    header nav .menu-area ul li {
        font-family: var(--rs-secondary-font);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    header nav .menu-area ul li a {
        text-decoration: none;
        color: #8987A1;
        transition: .5s ease-in-out all;
    }

    header nav .menu-area ul li a.active,
    header nav .menu-area ul li a:hover {
        font-weight: 600;
        color: #000;
    }

    header nav .cart-area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    header nav .cart-area h4 {
        font-weight: 500;
    }

    .hero-section {
        display: grid;
        align-items: end;
        grid-template-columns: 1fr 1fr;
    }

    .hero-section h2 {
        font-size: 65px;
        font-weight: bold;
    }

    .hero-section p {
        font-size: 22px;
        font-weight: normal;
        color: rgb(0, 0, 0, 50%);
    }

    .section-header {
        margin-bottom: 50px;
    }

    .section-header h4 {
        font-size: 50px;
    }

    .section-header p {
        font-size: 22px;
    }

    .flower-card-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px 20px;
    }

    .flower-img-box:hover img {
        transform: scale(1.05)
    }

    .flower-card-content h4 {
        font-size: 22px;
    }

    .flower-card-content h6 {
        font-size: 22px;
    }

    .flower-card button {
        padding: 18px 50px;
        font-size: 16px;
    }

    .plants-lover-section {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }

    .plants-lover-section .plants-lover-img img.trusted-badge {
        display: block;
        position: absolute;
        top: -120px;
        right: -120px;
        max-width: 280px;
        filter: drop-shadow(-4px 10px 4px rgb(0, 0, 0, 25%));
    }

    .plants-lover-section .plants-lover-content h2 {
        font-size: 60px;
    }

    .plants-lover-section .plants-lover-content ul {
        font-size: 22px;
    }

    .deals-card-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .deals-card-item {
        height: 100%;
        width: 100%;
    }

    .deals-card-item h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .deals-card-item a {
        font-size: 22px;
    }

    .deals-card-03 {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .deals-card-03 h4 {
        font-size: 40px;
    }

    .deals-card-03 a {
        font-size: 28px;
    }


    .colorful-bunch-section {
        --padding-size: 180px;
        padding-top: var(--padding-size);
        padding-bottom: var(--padding-size);
    }

    .colorful-bunch-section h4 {
        font-size: 50px;
        margin-bottom: 18px;
    }

    .colorful-bunch-section .input-group input {
        height: 50px;
        border: none;
        padding: 10px 15px;
        width: 640px;
    }

    .colorful-bunch-section .input-group input,
    .colorful-bunch-section .input-group button {
        outline: none;
    }

    .colorful-bunch-section .input-group button {
        color: #FFFFFF;
        background-color: var(--rs-primary-color);
        border: none;
        font-size: 1rem;
        padding: 10px 50px;
        font-weight: 600;
    }
}