.container {
    width: 100%;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}

.header-container {
    max-width: 100%;
}

.header-container nav,
.header-container .hero-section div:first-child {
   padding-left: 20px;
   padding-right: 20px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .header-container nav,
    .header-container .hero-section div:first-child {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .header-container,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .header-container,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .header-container,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .header-container,
    .container {
        max-width: 1320px;
    }
}

.colored-text {
    color: var(--rs-primary-color);
}

.section-divider {
    width: 100%;
    height: 50px;
}

header nav {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo-area img {
    max-height: 36px;
    width: auto;
}

header nav .menu-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .menu-area ul {
    list-style: none;
    display: none;
}

header nav .menu-area ul li {
    font-family: var(--rs-secondary-font);
    padding-left: .5rem;
    padding-right: .5rem;
}

header nav .menu-area ul li a {
    text-decoration: none;
    color: #8987A1;
    transition: .5s ease-in-out all;
}

header nav .menu-area ul li a.active,
header nav .menu-area ul li a:hover {
    font-weight: 600;
    color: #000;
}

header nav .cart-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

header nav .cart-area h4 {
    font-weight: 400;
}

.hero-section {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 28px;
}

.hero-section h2 {
    font-size: 34px;
    font-weight: bold;
}

.hero-section p {
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 0, 0, 50%);
}

.hero-section img {
    max-width: 100%;
}

@media (min-width: 992px) {
    .section-divider {
        width: 100%;
        height: 100px;
    }

    header nav {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .logo-area img {
        max-height: 82px;
        width: auto;
    }

    header nav .menu-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav .menu-area ul {
        list-style: none;
        display: inline-flex;
        gap: 48px;
        margin-inline-end: 1rem;
    }

    header nav .menu-area ul li {
        font-family: var(--rs-secondary-font);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    header nav .menu-area ul li a {
        text-decoration: none;
        color: #8987A1;
        transition: .5s ease-in-out all;
    }

    header nav .menu-area ul li a.active,
    header nav .menu-area ul li a:hover {
        font-weight: 600;
        color: #000;
    }

    header nav .cart-area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    header nav .cart-area h4 {
        font-weight: 500;
    }

    .hero-section {
        display: grid;
        align-items: end;
        grid-template-columns: 1fr 1fr;
    }

    .hero-section h2 {
        font-size: 65px;
        font-weight: bold;
    }

    .hero-section p {
        font-size: 22px;
        font-weight: normal;
        color: rgb(0, 0, 0, 50%);
    }
}